<section>
    <h3>Dashboard</h3>
    <p id="show-user"></p>
    <button id="logoutBtn">Logout</button>
    <h2>COURSE MANAGER</h2>
    <p>Welcome to the course management section!</p>
    <form id="course-form">
        <label for="title">Title course</label>
        <input type="text" id="title" placeholder="JavaScript" required>
        <label for="description">Course description</label>
        <textarea id="description" rows="4" required style="resize: none;"
            placeholder="In this course you will learn everything you need to know about JavaScript"></textarea>
        <label for="category">Course category</label>
        <select id="category" required>
            <option value="" selected disabled hidden>Select a category</option>
            <option value="programming">Programming</option>
            <option value="design">Design</option>
            <option value="business">Business</option>
            <option value="other">Other</option>
        </select>
        <label for="capacity">Course capacity</label>
        <input type="number" id="capacity" min="1" max="30" value="1" minlength="1" maxlength="2" required>
        <label for="instructor">Assigned instructor</label>
        <input type="text" id="instructor" placeholder="Cristian José" required>
        <button type="submit">Add course</button>
    </form>
    <br>
    <button id="list-courses">List course</button>
    <div id="course-list">
        <h3>Course List</h3>
        <table id="courses">
            <!-- Course items will be dynamically added here -->
        </table>
</section>
<script>
    // Mostrar el usuario actual en el dashboard
    (function showUser() {
        const user = JSON.parse(localStorage.getItem('user'));
        document.getElementById('show-user').textContent = `Welcome, ${user.nombre} - Rol: (${user.rol})`;
    })();

    // Función para agregar un curso a la lista
    const courseForm = document.getElementById('course-form');

    courseForm.addEventListener('submit', function (event) {
        event.preventDefault(); // Evita el envío del formulario

        const title = document.getElementById('title').value;
        const description = document.getElementById('description').value;
        const category = document.getElementById('category').value;
        const capacity = document.getElementById('capacity').value;
        const instructor = document.getElementById('instructor').value;

        async function addCourses() {
            try {
                const response = await fetch("http://localhost:3000/courses", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        nombre: title,
                        descripcion: description,
                        categoria: category,
                        profesor: instructor,
                        cupos: parseInt(capacity, 10),
                    })
                });
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                    return
                }
                swal.fire({
                    title: 'Course Added',
                    text: 'The course has been successfully added.',
                    icon: 'success',
                    confirmButtonColor: '#4d8',
                    confirmButtonText: 'OK',
                    width: '24em',
                    theme: 'dark',
                    background: '#242424',
                });
                courseForm.reset(); // Resetea el formulario después de agregar el curso
            } catch (error) {
                console.error('Error adding course:', error);
                swal.fire({
                    title: 'Error',
                    text: 'There was an error adding the course. Please try again.',
                    icon: 'error',
                    confirmButtonColor: '#4d8',
                    confirmButtonText: 'OK',
                    width: '24em',
                    theme: 'dark',
                    background: '#242424',
                });
            }
        };
        addCourses();
    });

    // Función para listar los cursos
    document.getElementById('list-courses').addEventListener('click', async (event) => {
        event.preventDefault(); // Evita el envío del formulario
        const courseList = document.getElementById('courses');
        courseList.innerHTML = `
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Capacity</th>
                <th>Instructor</th>
                <th>Actions</th>
            </tr>`;
        try {
            const response = await fetch("http://localhost:3000/courses");
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const courses = await response.json();
            if (courses.length === 0) {
                courseList.innerHTML += `
                <tr>
                    <td colspan="6" style="text-align: center;">No courses available</td>
                </tr>`;
            } else {
                courses.forEach(course => {
                    courseList.innerHTML += `
                    <tr>
                        <td>${course.nombre}</td>
                        <td>${course.descripcion}</td>
                        <td>${course.categoria}</td>
                        <td>${course.cupos}</td>
                        <td>${course.profesor}</td>
                        <td>
                            <button class="delete-btn" data-id="${course.id}">Delete</button>
                        </td>
                    </tr>`;
                });
            }
        } catch (error) {
            console.error('Error fetching courses:', error);
            swal.fire({
                title: 'Error',
                text: 'There was an error fetching the courses. Please try again.',
                icon: 'error',
                confirmButtonColor: '#4d8',
                confirmButtonText: 'OK',
                width: '24em',
                theme: 'dark',
                background: '#242424',
            });
        }
    });
    // Función para eliminar un curso de la lista

    document.getElementById('courses').addEventListener('click', async function (event) {
        if (event.target.classList.contains('delete-btn')) {
            const courseId = event.target.getAttribute('data-id');
            swal.fire({
                title: 'Delete Course',
                text: 'Are you sure you want to delete this course?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33d',
                confirmButtonText: 'Yes',
                cancelButtonText: 'Cancel',
                width: '24em',
                theme: 'dark',
                background: '#242424',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    try {
                        const response = await fetch(`http://localhost:3000/courses/${courseId}`, {
                            method: 'DELETE'
                        });
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        swal.fire({
                            title: 'Deleted!',
                            text: 'The course has been deleted.',
                            icon: 'success',
                            confirmButtonColor: '#4d8',
                            confirmButtonText: 'OK',
                            width: '24em',
                            theme: 'dark',
                            background: '#242424',
                        });
                        // Refresh the course list
                        document.getElementById('list-courses').click();
                    } catch (error) {
                        console.error('Error deleting course:', error);
                        swal.fire({
                            title: 'Error',
                            text: 'There was an error deleting the course. Please try again.',
                            icon: 'error',
                            confirmButtonColor: '#4d8',
                            confirmButtonText: 'OK',
                            width: '24em',
                            theme: 'dark',
                            background: '#242424',
                        });
                    }
                }
            });
        }
    });

    // Si el usuario presiona el botón de salir, se muestra un mensaje de confirmación
    document.getElementById('logoutBtn').addEventListener('click', () => {
        swal.fire({
            title: 'Logout',
            text: 'Do you want to log out?',
            icon: 'warning',
            confirmButtonColor: '#4d8',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'Cancel',
            width: '24em',
            theme: 'dark',
            background: '#242424',
        }).then((result) => {
            if (result.isConfirmed) {
                swal.fire({
                    title: 'Closing',
                    text: 'please wait...',
                    width: '24em',
                    theme: 'dark',
                    showConfirmButton: false,
                    background: '#242424',
                    timer: 1000,
                    timerProgressBar: true,
                    didOpen: () => {
                        const progressBar = Swal.getTimerProgressBar();
                        if (progressBar) {
                            progressBar.style.background = '#444';
                        }
                    }
                });
                // Si el usuario confirma, eliminar la sesión y redirigir
                localStorage.removeItem('auth');
                localStorage.removeItem('user');
                window.location.hash = '#login';
            }
        });
    });
</script>