<section>
    <h2>Login</h2>
    <p>Welcome back!</p>
    <p>Please enter your credentials</p>
    <form id="login-form">
        <label for="email">Email</label>
        <input type="email" placeholder="correo@example.es" id="email" required>
        <label for="password">Password</label>
        <input type="password" placeholder="password" id="password" required>
        <button type="submit">Login</button>
        <p>Don't have an account? <a href="#new-user">Register</a></p>
    </form>
    <script>
        const loginFrom = document.getElementById('login-form');

        loginFrom.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent form submission
            const email = loginFrom.email.value;
            const password = loginFrom.password.value;

            async function getUser() {
                try {
                    const response = await fetch("http://localhost:3000/users");
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const users = await response.json();
                    const user = users.find(user => user.correo === email && user.contraseña === password);
                    if (user) {
                        Swal.fire({
                            title: 'successfully',
                            text: 'starting section...',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 1500,
                            width: '24em',
                            theme: 'dark',
                            background: '#242424',
                        });
                        localStorage.setItem('auth', 'true');
                        localStorage.setItem('user', JSON.stringify(user));
                        if (user.rol === 'admin') {
                            window.location.hash = '#dashboard';
                        } else if (user.rol === 'estudiante') {
                            window.location.hash = '#register'; // Redirect to register if role is student
                        } else {
                            window.location.hash = '#404'; // Redirect to 404 if role is unknown
                        }
                    } else {
                        Swal.fire({
                            title: 'Login failed',
                            text: 'Invalid email or password, please try again',
                            icon: 'error',
                            showConfirmButton: false,
                            timer: 1500,
                            width: '24em',
                            theme: 'dark',
                            background: '#242424',
                        });
                    }
                } catch (error) {
                    console.error('Error fetching user:', error);
                    Swal.fire({
                        title: 'Error',
                        text: 'There was an error processing your request',
                        icon: 'error',
                        confirmButtonText: 'OK',
                        width: '24em',
                        theme: 'dark',
                        background: '#242424',
                    });
                }
            }
            getUser();
        });
    </script>
</section>