<section>
    <form id="register-form">
        <label for="name">Name</label>
        <input type="text" placeholder="John" name="name" required>
        <label for="email">Email</label>
        <input type="email" placeholder="correo@example.es" name="email" required>
        <label for="password">Password</label>
        <input type="password" placeholder="password" name="password" required>
        <button type="submit">Register</button>
        <p>Already have an account? <a href="#login">Login</a></p>
    </form>
</section>